= form_for @favorit do |f|
  -if @favorit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@favorit.errors.count, "error")} prohibited this favorit from being saved:"
      %ul
        - @favorit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :favorited_at
    = f.datetime_select :favorited_at
  .actions
    = f.submit 'Save'
