%h1 Listing favorits

%table
  %tr
    %th User
    %th Link
    %th
    %th
    %th

  - @favorits.each do |favorit|
    %tr
      %td= favorit.user_id
      %td= favorit.link_id
      %td= link_to 'Show', favorit
      %td= link_to 'Edit', edit_favorit_path(favorit)
      %td= link_to 'Destroy', favorit, :confirm => 'Are you sure?', :method => :delete

%br

-#= link_to 'New Favorit', new_favorit_path
