%p#notice= notice

%p
  %b Title:
  = @link.title
%p
  %b Description:
  = @link.description
%p
  %b Url:
  = @link.url
%p
  %b Url thumbnail path:
  = @link.url_thumbnail_path
%p
  %b Tag list:
  = @link.tag_list
%p
  %b Published:
  = @link.published

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
